---
import { site } from '../data/site';
---

<div>
  <div class="head-root container-fluid" id="head-root">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <img class="logo" src="/logo.svg" alt="gceico logo" />
        <p class="small-title">who.</p>
        <div class="about" set:html={site.author.bioHtml} />
      </div>
    </div>

    <div class="row">
      <div class="card-deck col">
        <!-- designer -->
        <div class="card" data-parallax="32">
          <img class="avatar" alt="Author avatar" src={site.author.avatar} />
          <span class="before hidden-xs">me:designer</span>
          <img class="face-mask" src="/svg/designer.svg" alt="A face mask of a designer" />
          <img class="icon" src="/svg/palette.svg" alt="An icon of a palette" />
        </div>
        <!-- middle (secondary) -->
        <div class="card secondary" data-parallax="32">
          <img class="avatar avatar-secondary" alt="Author avatar" src={site.author.avatar} />
        </div>
        <!-- developer -->
        <div class="card text-right" data-parallax="32">
          <img class="avatar" alt="Author avatar" src={site.author.avatar} />
          <span class="before hidden-xs">me:developer</span>
          <img class="face-mask dev" src="/svg/dev.svg" alt="A face mask of a developer" />
          <img class="icon" src="/svg/esc.svg" alt="An icon for a escape key" />
        </div>
      </div>
    </div>

    <div class="squares hidden-mobile">
      <div class="square" data-parallax="32"></div>
      <div class="square secondary" data-parallax="32"></div>
    </div>

    <img class="bg-logo" src="/logo.svg" alt="Logo" />
  </div>
</div>

<style>
  .head-root {
    position: relative;
    max-width: 1640px;
    padding-bottom: var(--sp-8);
  }
  @media only screen and (max-width: 768px) {
    .head-root { padding-bottom: var(--sp-6); }
  }

  .logo {
    display: block;
    margin-top: var(--sp-5);
    margin-bottom: var(--sp-5);
  }
  @media only screen and (max-width: 576px) {
    .logo { height: 64px; margin-top: var(--sp-4); margin-bottom: var(--sp-4); }
  }

  .small-title {
    font-size: var(--fs-3);
    color: var(--light-90);
    font-family: var(--font-title) !important;
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 768px) {
    .small-title { font-size: var(--fs-2-5) !important; }
  }
  @media only screen and (max-width: 576px) {
    .small-title { font-size: var(--fs-1-5) !important; }
  }

  .about {
    font-size: var(--fs-1) !important;
    margin-top: var(--sp-4);
  }
  .about :global(a) { color: var(--color-secondary); }
  @media only screen and (max-width: 768px) {
    .about { font-size: var(--fs-2over3) !important; }
  }
  @media only screen and (max-width: 576px) {
    .about { font-size: 1rem !important; }
  }

  .card-deck {
    z-index: 0;
    display: flex;
    position: relative;
    margin-top: var(--sp-5);
    padding-top: var(--sp-5);
    padding-bottom: var(--sp-5);
  }
  .card-deck > div:first-child {
    z-index: -2;
    margin-top: calc(-1 * var(--sp-5));
    margin-right: calc(-1 * var(--sp-6));
  }
  .card-deck > div:last-child {
    z-index: -2;
    margin-top: calc(-1 * var(--sp-5));
    margin-left: calc(-1 * var(--sp-6));
  }
  @media only screen and (max-width: 576px) {
    .card-deck {
      padding-bottom: 0;
      margin-top: var(--sp-5);
      padding-top: var(--sp-5);
      justify-content: center;
    }
    .card-deck > div:first-child { margin-top: 0; margin-right: var(--sp-4); }
    .card-deck > div:last-child { margin-top: 0; margin-left: var(--sp-4); }
  }

  .card {
    width: calc(0.66 * var(--sp-9));
    height: calc(0.66 * 1.5 * var(--sp-9));
    position: relative;
    margin-top: var(--sp-5);
    margin-left: var(--sp-5);
  }
  .card.text-right { text-align: right; }
  .card:before {
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transform: translate(calc(-1 * var(--sp-4)), calc(-1 * var(--sp-4)));
    background: var(--color-primary);
  }
  .card.secondary:before { background: var(--color-secondary); }
  @media only screen and (max-width: 576px) {
    .card {
      margin: 0;
      width: calc(0.5 * var(--sp-9));
      height: calc(0.5 * 1.5 * var(--sp-9));
    }
    .card:before {
      transform: translate(calc(-1 * var(--sp-3)), calc(-1 * var(--sp-3)));
    }
  }

  .avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    filter: sepia(50%) hue-rotate(200deg) saturate(250%);
  }
  .avatar-secondary { filter: sepia(25%) hue-rotate(275deg) saturate(200%); }

  .before { color: var(--light-50); }

  .face-mask {
    position: absolute;
    width: 40%;
    left: 25%;
    top: 13%;
    margin-bottom: 0;
    z-index: 2;
  }
  .face-mask.dev { width: 55%; left: 19%; top: 14%; }

  .icon {
    width: 15%;
    left: 50%;
    margin-bottom: 0;
    position: absolute;
    bottom: var(--sp-4);
    transform: translateX(-50%);
    z-index: 2;
  }

  .squares { position: absolute; top: 0; right: 0; width: 100%; height: 100%; pointer-events: none; }
  .square {
    width: calc(0.4 * 0.66 * var(--sp-9));
    height: calc(0.4 * 0.66 * var(--sp-9));
    z-index: 2;
    position: absolute;
    top: 40%;
    right: 25%;
    border: 2px solid var(--light-50);
  }
  .square:before {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    transform: translate(calc(-1 * var(--sp-4)), calc(-1 * var(--sp-4)));
    background: var(--color-primary);
  }
  .square.secondary { top: 10%; right: 10%; }
  .square.secondary:before { background: var(--color-secondary); }
  @media only screen and (max-width: 992px) {
    .square { top: 30%; }
    .square.secondary { top: 10%; }
  }

  .bg-logo {
    top: 90%;
    left: 90%;
    width: 66vw;
    height: 66vw;
    opacity: 0.1;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -3;
    pointer-events: none;
  }
  @media only screen and (max-width: 992px) { .bg-logo { top: 60%; } }
  @media only screen and (max-width: 768px) { .bg-logo { top: 80%; } }
  @media only screen and (max-width: 576px) { .bg-logo { top: 100%; } }
</style>

<script>
  import '../scripts/parallax.js';
</script>
